#AboutMe
{
    width:100%;
}
#AboutMe ul li{
    margin-right: 20%;
    margin-left: 17.5%;
    list-style-type: none;
    display: inline-block;
    width:60%;
}
#AboutMe ul li h2{
    font-family: baskerville,'palatino linotype','times new roman',serif;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: -0.045em;
    text-align: right;
    float: left;
    padding-left: 10%;
    width: 6.5em;
    padding: 1.909em 0 2.136em;
    border-top-width: 0.045em;
    border-bottom: 0.045em solid #fff;
    margin-right:4%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#AboutMe ul li p{
    font-family: baskerville,'palatino linotype','times new roman',serif;
    text-align: justify;
    text-overflow:ellipsis;
    padding-left: 30px;
    color: white;
    font-size: 1.2em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    -webkit-margin-before: 0px;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
    margin-left:170px;
}

#AboutMe ul li h3{
 color: #959DA9;  
    padding: 0;
}

#firstHeading {
    height:125px;
}