body{
    background-color: grey;
    background-image:url('../images/backimage2.png');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
      background: url(../images/backimage2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Scrollbar CSS*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}       
#Top{
    height : 10vh;
}
#Logo{
    background-image:url('../images/newlogo.png');
    height:100%;
    background-size: 100% 100%;
    width: 35% ;
    margin-left: auto ;
    margin-right: auto ;
    background-repeat: no-repeat;
    z-index: 6000;
position: relative;  
}
#Menu{
    height:10vh;
    top: -10vh;
    position: relative;
}