#menu-bar {
    width: 60%;
    margin: 0px 0px 0px 0px;
    padding: 1px 6px 1vh 10px;
    height: 90%;
    line-height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 2px 2px 3px #fff;
    -webkit-box-shadow: 2px 2px 3px #fff;
    -moz-box-shadow: 2px 2px 3px #fff;
    background: #ADADAD;
    background: linear-gradient(top,  #DEE3EB,  #273656);
    background: -ms-linear-gradient(top,  #DEE3EB,  #273656);
    background: -webkit-gradient(linear, left top, left bottom, from(#1e1e24), to(#000));
    background: -moz-linear-gradient(top,  #DEE3EB,  #273656);
    border: solid 0px #6D6D6D;
    position:relative;
    z-index:999;
}
#menu-bar li {
    height: 5vh;
    margin: 0px 0px 6px 0px;
    padding: 3vh 6px 0px 6px;
    float: left;
    position: relative;
    list-style: none;
}
#menu-bar a {
    height: 3vh;
    font-weight: bold;
    font-family: baskerville,'palatino linotype','times new roman',serif;
    font-style: normal;
    font-size: 4vh;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-decoration: none;
    display: block;
    padding: 15px 20px 10px 20px;
    margin: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: white;
}
#menu-bar li ul li a {
    margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
    background: #D4D4D4;
    background: linear-gradient(top,  #B5B5B5,  #FFFFFF);
    background: -ms-linear-gradient(top,  #B5B5B5,  #FFFFFF);
    background: -webkit-gradient(linear, left top, left bottom, from(#B5B5B5), to(#FFFFFF));
    background: -moz-linear-gradient(top,  #B5B5B5,  #FFFFFF);
    color: #444444;
    height: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul a:hover {
    background: #0399D4 !important;
    background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
    background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
    background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
    color: #FFFFFF !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
    background: #DDDDDD;
    background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
    background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 40px;
    left: 0;
    border: solid 1px #B4B4B4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul a {
    padding:10px 0px 10px 15px;
    color:#424242 !important;
    font-size:12px;
    font-style:normal;
    font-family:arial;
    font-weight: normal;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#menu-bar {
    display: inline-block;
}
  html[xmlns] #menu-bar {
      display: block;
}
* html #menu-bar {
    height: 1%;
}