body{
    background-color: grey;
    background-image:url('../images/backimage2.png');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#menu-bar {
    width: 90%;
}

#Banner{
    margin-right: 5%;
    margin-left: 5%;
    background-image:url('../images/banner.png');
    text-align: center;
    background-color: black;
    width:90%;
    background-size: cover;
}

#AboutMe ul li{
    margin-right: 5%;
    margin-left: 5%;
    list-style-type: none;
    display: block;
    margin-bottom: 5%;
}

#media-player{
    width:100%;
}
#gallery{
    max-width:100%;
}

#Menu{
    height:10vh;
    top: 0vh;
    position: relative;
}

#Logo {
    top:0vh;
}